.form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #340374;
  border-radius: 10px;
  padding: 25px;
  margin: 50px auto 0;
}


input,
textarea {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #696097;
  margin-bottom: 20px;
  font-size: 16px;
  padding-bottom: 5px;
  color: #696097;
  font-weight: 600;
}

textarea {
  resize: none;
}

input:-internal-autofill-selected {
  background-color: #250253 !important;
  color: #696097 !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #340374 inset !important;
  -webkit-text-fill-color: #696097 !important;
}

::placeholder {
  color: #696097;
  font-weight: 600;
  text-align: left;
}

.amount_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.amount_wrapper input {
  text-align: right;
  margin-right: 10px;
}

.currency {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  flex: 1;
}

.tip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #250253;
  color: #ad1cf7;
  border: 1px solid #ad1cf7;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
  transition: background-color 0.3s ease;
}

.tip-button:hover:not(:disabled) {
  background-color: #ad1cf7;
  color: #ffffff;
}

.tip-button:focus {
  outline: none;
}
.tip-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Hide arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
