.withdraw_form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #340374;
  border-radius: 10px;
  padding: 25px;
  margin-top: 15px;
}

form {
  width: 100%;
}

input {
  width: 100%;
}

.withdraw-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #250253;
  color: #ad1cf7;
  border: 1px solid #ad1cf7;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 100%;
}

.withdraw-button:hover:not(:disabled) {
  background-color: #ad1cf7;
  color: #ffffff;
}

.withdraw-button:focus {
  outline: none;
}
.withdraw-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Hide arrows in Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
